<h1>Sign Up</h1>

<div class="login_form">
<%= form_with model: @user, local: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>
</div>
