<%= form_with model: @ticker, local: true do |form| %>
 
  <% if @ticker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ticker.errors.count, "error") %> prohibited
        this ticker from being saved:
      </h2>
      <ul>
        <% @ticker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= form.hidden_field :watchlist_id, value: params[:watchlist_id] %>

  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
