<h1>Stock Ticker Index</h1>

<p><%= link_to 'Create new ticker', new_ticker_path %></p>

<%= @tickers.each do |ticker| %>
  <h3><%= link_to ticker.name, ticker_path(ticker) %></h3>
  <%= ticker.prices.each do |price| %>
    <h6><%= price.value %></h6>
  <% end %>
<% end %>

