<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light primary-color">

  <!-- Navbar brand -->
  <%= link_to "TickerPicker", root_path, class: "navbar-brand" %>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left aligned content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
    <% if logged_in? %>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Watchlists</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <% current_user.watchlists.each do |wl| %>
            <%= link_to wl.name, watchlist_path(wl.id), method: :get, class: "dropdown-item" %>
          <% end %>
          <strong><%= link_to "Create New", new_watchlist_path, method: :get, class: "dropdown-item" %></strong>
        </div>
        </li>
      
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Subscribe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
        </li>
      -->
      <li class="nav-item">
        <%= link_to "Logout", "/logout", method: :get, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
  
  <!-- Right aligned content -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right ml-auto">
    <% if logged_in? %>
      <p class="navbar-text">You are logged in as <strong><%= current_user.username %></strong></p>
    <% else %>
      <li class="nav-item"><%= link_to "Login", '/login', method: :get, class: "nav-link" %></li>
      <li class="nav-item"> <%= link_to "Sign Up", '/signup', method: :get, class: "nav-link" %></li>
    <% end %>
    </ul>

    </ul>
  </div>

</nav>
<!--/.Navbar-->
