<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light primary-color">

  <!-- Navbar brand -->
  <%= link_to "TickerPicker", root_path, class: "navbar-brand" %>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left aligned content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
    <% if logged_in? %>
      <li class="nav-item">
        <a class="nav-link" href="#">My Watchlists</a>
      </li>
    <% end %>
    <% if logged_in? %>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Change Password", "#", method: :get, class: "dropdown-item" %>
          <%= link_to "Logout", "/logout", method: :get, class: "dropdown-item" %>
        </div>
      </li>
    <% end %>
    </ul>
  
  <!-- Right aligned content -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Subscribe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
    <% if logged_in? %>

      <p class="navbar-text">You are logged in as <%= current_user.username %></p>
    <% else %>
      <li class="nav-item"><%= link_to "Login", '/login', method: :get, class: "nav-link" %></li>
      <li class="nav-item"> <%= link_to "Sign Up", '/signup', method: :get, class: "nav-link" %></li>
    <% end %>
    </ul>

    </ul>
  </div>

</nav>
<!--/.Navbar-->
